// sass-lint:disable nesting-depth, no-ids

$b-principal: url('./imgs/background.png');
$o-hidden: hidden;
$c-sombra: 0 0 21px #fff;
$c-white: #fff;

body {
  overflow: $o-hidden;
  -webkit-overflow-scrolling: touch;

  #IBackground {
    position: absolute;
    transform: scale(1);
    transition: transform 5s, top 5s;
  }

  .mesa {
    perspective: 100vw;
    transform-style: preserve-3d;

    .circulo {
      display: none;
      height: 200px;
      left: calc(100vw - calc(50vw + 100px));
      position: absolute;
      top: calc(100vh - calc(50vh + 100px));
      transition: transform 1s;
      width: 200px;

      p {
        color: $c-white;
        position: absolute;
      }

      img {
        border-radius: 50%;
        box-shadow: $c-sombra;
        height: 100%;
        width: 100%;
      }

      &#DInfra {
        p {
          left: 2px;
          top: 87px;
        }
      }

      &#DCloud {
        p {
          left: 26px;
          top: 109px;
        }
      }

      &#DBd {
        p {
          left: 41px;
          top: 98px;
        }
      }

      &#DLingProg {
        p {
          left: 0;
          top: 84px;
        }
      }

      &#DServCloud {
        p {
          left: 28px;
          top: 105px;
        }
      }

      &#DFrameworks {
        p {
          left: 57px;
          top: 106px;
        }
      }

      &#DCMS {
        p {
          right: 22px;
          text-align: right;
          top: 88px;
        }
      }

      &#DOpenSource {
        p {
          left: 58px;
          top: 108px;
        }
      }

      &:nth-child(1) {
        display: block;
      }
    }
  }

  .footer {
    bottom: 10px;
    color: $c-white;
    position: fixed;
    text-align: center;
    width: 100%;

    .d-flex {
      img {
        height: 65px;
        width: 95px;
      }
    }
  }
}



